.title {
  background-color: rgb(100, 177, 23);
  padding: 20px 60px;
  margin-top: 40px;
  border-radius: 4px;
  margin-bottom: 5px;
  font-size: 25 px;
  color: rgb(252, 253, 253);
  font-weight: bold;
  text-align: center;
}